<div class="m-menu-tabs">
  <ul class="list-inline clearfix">
    {% for children in menus.children %}
      {% if children.children %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="li" aria-haspopup="true" aria-expanded="true">{% if children.icon %}<i class="fa {{ children.icon }}" aria-hidden="true"></i> {% endif %}{{ children.name }} </a>
          <div class="dropdown-menu">
            {% for children2key, children2 in children.children %}
            <a class="dropdown-item" href="{{ children2.href }}">{{ children2.name }}</a>
            {% if children2key == '0' %}<div class="dropdown-divider"></div>{% endif %}
            {% endfor %}
          </div>
        </li>
      {% else %}
        <li><a href="{{ children.href }}" class="">{% if children.icon %}<i class="fa {{ children.icon }}" aria-hidden="true"></i> {% endif %}<span>{{ children.name }}</span></a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
<script type="text/javascript">

  // Set last page opened on the menu
  $('.m-menu-tabs a[href]').on('click', function() {
    if ($(this).attr('href') != '#') {
      sessionStorage.setItem('menu', $(this).attr('href'));
    }
  });
  if (sessionStorage.getItem('menu') && sessionStorage.getItem('menu') != '#') {
    $('.m-menu-tabs a[href=\'' + sessionStorage.getItem('menu') + '\']').parent().addClass('active');

    $('.m-menu-tabs a[href=\'' + sessionStorage.getItem('menu') + '\']').parents('li > a').removeClass('collapsed');

    $('.m-menu-tabs a[href=\'' + sessionStorage.getItem('menu') + '\']').parents('ul').addClass('in');

    $('.m-menu-tabs a[href=\'' + sessionStorage.getItem('menu') + '\']').parents('li').addClass('active');
  }
</script>