{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-latest" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
     {% if error_warning  %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-latest" class="form-horizontal">
          <div class="form-group">
        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
        <div class="col-sm-10">
          <select name="status" id="input-status" class="form-control">
             {% if status  %}
            <option value="1" selected="selected">{{ text_enabled }}</option>
            <option value="0">{{ text_disabled }}</option>
              {% else %}
            <option value="1">{{ text_enabled }}</option>
            <option value="0" selected="selected">{{ text_disabled }}</option>
            {% endif %}
          </select>
        </div>
      </div>
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
               {% if error_name  %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
		</div>
		
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-title">{{ entry_title }}</label>
            <div class="col-sm-10">
				{% for language in languages %}
				<div class="input-group pull-left"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> </span>
					<input type="text" name="faqdescription[{{ language.language_id }}][title]" value="{{ faqdescription[language.language_id] ? faqdescription[language.language_id].title }}" id="input-title" class="form-control"  placeholder="{{ entry_title }}" />
				</div>
				{% endfor %}
            </div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-titlebgcolor">{{ entry_titlebgcolor }}</label>
			<div class="col-sm-10">
			  <input type="text" name="faqtitlebgcolor" value="{{ faqtitlebgcolor }}" placeholder="{{ entry_titlebgcolor }}" id="input-titlebgcolor" class="form-control color" />
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input-titlecolor">{{ entry_titlecolor }}</label>
			<div class="col-sm-10">
			  <input type="text" name="faqtitlecolor" value="{{ faqtitlecolor }}" placeholder="{{ entry_titlecolor }}" id="input-titlecolor" class="form-control color" />
			</div>
		</div>

<!--// 2 August 2018 //-->
       <div class="form-group">
          <label class="col-sm-2 control-label" for="input-faqdisplay">{{ entry_display }}</label>
          <div class="col-sm-10">
            <select name="faqdisplay" id="faqdisplay" class="form-control">
                 {% if faqdisplay == 'category'  %}
                <option name="faqdisplay" value="category"  selected="selected">{{ text_category }}</option>
                  {% else %}
                <option name="faqdisplay" value="category" />{{ text_category }}</option>
                {% endif %}
                 {% if faqdisplay == 'faq'  %}
                <option name="faqdisplay" value="faq" selected="selected">{{ text_faq }}</option>
                {% else %}
                <option name="faqdisplay" value="faq" />{{ text_faq }}</option>
                {% endif %}
            </select>
          </div>
        </div>

        <div id="category" {% if faqdisplay == 'faq' %} {{ 'style="display:none"' }} {% endif %} >
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-category">{{ entry_selectcategory }}</label>
          <div class="col-sm-10">
            <input type="text" name="select_category" value="" placeholder="{{ entry_selectcategory }}" id="input-category" class="form-control" />
              <div id="product-category" class="well well-sm" style="height: 150px; overflow: auto;">
              {% for faq_category in  categories %}
              <div id="product-category{{ faq_category.fcategory_id }}"><i class="fa fa-minus-circle"></i>{{ faq_category.name }}
                <input type="hidden" name="faq_category[]" value="{{ faq_category.fcategory_id }}" />
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-faqstatuscategory">{{ text_faq }}</label>
          <div class="col-sm-10">
            <select name="faqstatuscategory" id="faqstatuscategory" class="form-control">
              {% if faqstatuscategory %}
                <option name="faqstatuscategory" value="1"  selected="selected"/>{{ text_yes }}</option>
                <option name="faqstatuscategory" value="0"/>{{ text_no }}</option>
              {% else %}
                <option name="faqstatuscategory" value="1"/>{{ text_yes }}</option>
                <option name="faqstatuscategory" value="0" selected="selected"/>{{ text_no }}</option>
              {% endif %}
            </select>
          </div>
        </div>
      </div>
        <div class="faq" id="faq" {% if faqdisplay == 'category' %} {{ 'style="display:none"' }} {% endif %}" >
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-faqcategory">{{ text_category }}</label>
            <div class="col-sm-10">
              <select name="faqcategory" id="input-faqcategory" class="form-control">
                <option value="0">{{ text_select }}</option>
                {%  for faqcat in faqcategories  %}
                 {% if faqcat.fcategory_id == faqcategory  %}
                <option value="{{ faqcat.fcategory_id }}" selected="selected">{{ faqcat.name }}</option>
                {% else %}
                <option value="{{ faqcat.fcategory_id }}">{{ faqcat.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-faq">{{ entry_faq }}</label>
            <div class="col-sm-10">
              <input type="text" name="faq" value="" placeholder="{{ entry_faq }}" id="input-faq" class="form-control" />
              <div id="product-faq" class="well well-sm" style="height: 150px; overflow: auto;">
                {%  for faq in faqs  %}
              <div id="product-faq{{ faq.faq_id }}"><i class="fa fa-minus-circle"></i>{{ faq.name }}
                <input type="hidden" name="product_faq[]" value="{{ faq.faq_id }}" />
              </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>

<!--// 2 August 2018 //-->
        </form>
      </div>
    </div>
  </div>
</div>

<!--// 2 August 2018 //-->

<script src="view/javascript/colorbox/jquery.minicolors.js"></script>
<link rel="stylesheet" href="view/stylesheet/jquery.minicolors.css">
<script>
$(document).ready( function() {

	$('.color').each( function() {
			$(this).minicolors({
			control: $(this).attr('data-control') || 'hue',
			defaultValue: $(this).attr('data-defaultValue') || '',
			inline: $(this).attr('data-inline') === 'true',
			letterCase: $(this).attr('data-letterCase') || 'lowercase',
			opacity: $(this).attr('data-opacity'),
			position: $(this).attr('data-position') || 'bottom left',
			change: function(hex, opacity) {
				if( !hex ) return;
				if( opacity ) hex += ', ' + opacity;
				try {
					console.log(hex);
				} catch(e) {}
			},
			theme: 'bootstrap'
		});
	});
});
</script>

<script>
$(document).ready(function(){

  $('#faqdisplay').on('change', function() {

   if(this.value == "category") {
     $('#category').show();
     $('#faq').hide();
   } else {
     $('#category').hide();
     $('#faq').show();
   }  

  });
});
</script>
<script>
$('input[name=\'select_category\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=extension/module/faq/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['fcategory_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'select_category\']').val('');

    $('#product-category' + item['value']).remove();

    $('#product-category').append('<div id="faq-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="faq_category[]" value="' + item['value'] + '" /></div>');
  }
});

$('#product-category').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});

//Faq
$('input[name=\'faq\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=extension/module/faq/faqautocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['faq_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'faq\']').val('');

    $('#product-faq' + item['value']).remove();

    $('#product-faq').append('<div id="product-faq' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_faq[]" value="' + item['value'] + '" /></div>');
  }
});

$('#product-faq').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});

// 2 August 2018 //
</script>

<!--// 2 August 2018 //-->
{{ footer }}