{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" id="savestay" form="mmosolution-form" data-toggle="tooltip" title="{{ button_save_stay }}" class="btn btn-success">
                    <i class="fa fa-save"></i>{{ button_save_stay }}
                </button>
                <button type="submit"  form="form-attachmanager" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1><a href="http://mmosolution.com" target="_blank" title="Go to MMOSolution.com" ><img src="//mmosolution.com/image/mmosolution.com_34.png"> </a>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %} 
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %} 
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %} 
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %} 
        {% if  success %} 
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %} 
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks text-warning"></i>{{ text_edit}}{{ ' ' }}{{ heading_title }} </h3>
                <span class="pull-right hidden-xs" id="mmos-offer"></span>
            </div>
            <ul style="margin-top: 10px;" class="nav nav-tabs">
                <li class="active"><a href="#tab-setting" data-toggle="tab">{{ tab_setting }}</a></li>
                <li><a href="#supporttabs" data-toggle="tab">{{ tab_support }}</a></li>

                <li class="pull-right hidden-xs"><a style="  background: url('//mmosolution.com/image/opencart.gif') 0px 10px no-repeat; padding-left: 20px; " title="go to Opencart Market"  href="http://www.opencart.com/index.php?route=extension/extension&filter_username=mmosolution" target="_blank">Get Extensions <span class="badge" style="background: gold;">80++</span></a></li>
                <li class="pull-right hidden-xs"><a style="background: url('//mmosolution.com/image/mmosolution_20x20.gif') 0px 8px no-repeat; padding-left: 25px; " title="go to MMOS market"  href="http://mmosolution.com" target="_blank" class="text-success">Get Extensions <span class="badge" style="background: gold;">80++</span></a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-setting">
                    <div class="panel-body">
                        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-attachmanager" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ text_status }}</label>
                                <div class="col-sm-10">
                                    <select name="mmos_attachmanager_status" id="input-status" class="form-control">
                                        {% if  mmos_attachmanager_status == '1' %} 
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                         {% else %}   
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %} 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-extend"><span data-toggle="tooltip" title="{{ help_enable_extend }}">{{ text_enable_extend }}</span></label>
                                <div class="col-sm-10">
                                    <select name="mmos_attachmanager[extendlink]" id="input-extend" class="form-control">
                                        {% if  mmos_attachmanager.extendlink == '1' %} 
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                         {% else %}   
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %} 
                                    </select>
                                </div>
                            </div>             


                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-extend">{{ text_file_name_download }}</label>
                                <div class="col-sm-10">
                                    <select name="mmos_attachmanager[name_download]" id="input-extend" class="form-control">
                                        {% if  mmos_attachmanager.name_download == '1' %} 
                                        <option value="1" selected="selected">{{ text_file_original_name }}</option>
                                        <option value="0">{{ text_file_mask_name }}</option>
                                         {% else %}   
                                        <option value="1">{{ text_file_original_name }}</option>
                                        <option value="0" selected="selected">{{ text_file_mask_name }}</option>
                                        {% endif %} 
                                    </select>
                                </div>
                            </div>                           
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-extend">{{ text_show_download_count }}</label>
                                <div class="col-sm-10">
                                    <select name="mmos_attachmanager[show_download]" id="input-extend" class="form-control">
                                        {% if  mmos_attachmanager.show_download == '1' %} 
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                         {% else %}   
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %} 
                                    </select>
                                </div>
                            </div>                           
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-filesize"><span data-toggle="tooltip" title="{{ help_file_maxfilesize }}{{ ' '}}{{ maxfilesize}}{{ 'MB' }}">{{ text_file_maxfilesize }}</span></label>
                                <div class="col-sm-10">
                                   
                                    <input type="text" name="mmos_attachmanager[maxfilesize]" value="{{ mmos_attachmanager.maxfilesize > maxfilesize ? maxfilesize : mmos_attachmanager.maxfilesize }}" placeholder="{{ text_file_maxfilesize }}" id="input-filesize" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-filetype"><span data-toggle="tooltip" title="{{ help_file_extension }}">{{ text_file_extension }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="mmos_attachmanager[filetype]" value="{{ mmos_attachmanager.filetype }}" placeholder="{{ text_file_extension }}" id="input-filetype" class="form-control" />
                                </div>
                            </div>
                            {% for language in languages %} 
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}"><img src="{{ language.flag_img }}" title="{{ language.name }}" alt="{{ language.name }}" /> {{ text_name_tab_attach }}{{ how_to_setup_icon }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="mmos_attachmanager[tab_name][{{ language.language_id }}]" value="{{ mmos_attachmanager.tab_name[language.language_id] }}" placeholder="{{ text_name_tab_attach }}" id="input-name{{ language.language_id}}" class="form-control" />
                                </div>
                            </div>
                            {% endfor %} 
                            <div class="panel panel-danger">
                                <div class="panel-body text-danger">
                                    <h3><i class="fa fa-question-circle"></i>{{ help_thumbnail_header }}</h3>
                                    <p>{{ help_file_thumbnail }}</p>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="supporttabs">
                    <div class="panel-body">
                        <!-- begin MMOSolution.com -->
                        <h1 class="text-success text-center">Thank you for choosing mmosolution.com  <i class="fa fa-trophy"></i></h1>
                        <hr class="text-info">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12" >
                                <div class="panel panel-success">
                                    <div class="panel-heading"><i class="fa fa-tags"></i> About {{ heading_title }}</div>

                                    <ul class="list-group">
                                        <li class="list-group-item"><i class="fa fa-lock"></i> Installed Version: V.{{ MMOS_version }}</li>
                                        <li class="list-group-item"><i class="fa fa-tree"></i>  Latest version: <span id="mmos_latest_version"><a href="http://mmosolution.com/index.php?route=product/search&search={{ heading_title }}" target="_blank">Unknown -- Check</a></li>
                                        <li class="list-group-item">Your License: </li>
                                        <li class="list-group-item">Your Key: </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12" >
                                <div class="panel panel-default">
                                    <div class="panel-heading"><i class="fa fa-flag"></i> Help & Feedback</div>

                                    <ul class="list-group">
                                        <li class="list-group-item"><i class="fa fa-envelope-o text-primary"></i> <a href="mailto:support@mmosolution.com?Subject={{ heading_title }}{{  ' OC ' }}{{  opencart_version }}" target="_top">support@mmosolution.com</a></li>
                                        <li class="list-group-item"><i class="fa fa-users"></i> <a href="http://MMOSolution.com" target="_blank">Www.MMOSolution.com</a></li>
                                        <li class="list-group-item"><i class="fa fa-ticket"></i> <a href="http://MMOSolution.com/support/" target="_blank">Submit a support Ticket</a></li>
                                        <li class="list-group-item"><i class="fa fa-heart-o text-danger"></i> Connect with us :  
                                            <a href="http://www.facebook.com/MMOSolution" target="_blank" title=" Facecook.com"><i class="fa fa-2x fa-facebook-square"></i></a>
                                            <a class="text-danger" href="http://plus.google.com/+Mmosolution" target="_blank" title="Google Plus"><i class="fa  fa-2x fa-google-plus-square"></i></a>
                                            <a class="text-warning" href="http://MMOSolution.com/mmosolution_rss.rss" target="_blank" title="RSS"><i class="fa fa-2x fa-rss-square"></i></a>
                                            <a href="http://twitter.com/MMOSolution" target="_blank" title="Twitter"><i class="fa fa-2x fa-twitter-square"></i></a>
                                            <a class="text-danger" href="http://www.youtube.com/MMOSolution" target="_blank" title="Youtube.com"><i class="fa fa-2x fa-youtube-square"></i></a></li>


                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12" >
                                <div class="panel panel-default">
                                    <div class="panel-heading"><i class="fa fa-gear"></i> Custom Work</div>
                                    <div class="panel-body">
                                        <i class="fa fa-hand-o-right"></i> <a href="http://MMOSolution.com/support/" target="_blank">Do you need custom-work, custom extensions, fix extensions of another developer? Resolve your site troubles.. ?</a>
                                    </div>
                                </div>
                            </div>
                        </div>  


                        <div class="row">
                            <div id="relate-products"></div> 
                            <script type="text/javascript"><!--

                                var productcode = '{{ MMOS_code_id }}';
                                $('a[href="#supporttabs"]').bind('click', function () {
                                    $('#ontabspromotion').html('(' + $('#mmos-offer').html() + ')');
                                });

                                //--></script>
                                                        <!-- DO NOT REMOVE -->
                                                        <script type="text/javascript" src="//mmosolution.com/support.js"></script>

                           </div>
                                                    <!-- end MMOSolution.com -->


                    </div>
</div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript"><!--
  $('#savestay').click(function () {
            $('#form-attachmanager').attr('action', $('#form-attachmanager').attr('action') + '&stay=1');
        });
        //--></script>
{{ footer }}