{{ header }}{{ column_left }}
<div id="content" class="m-menu-wrap">
  <div class="container-fluid">
    <div class="page-header">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {{ mtabs }}
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        <div class="pull-right">
        <button type="submit" form="form-mpgallery" class="btn btn-success"><i class="fa fa-save"></i> {{ button_save }}</button>
        <a href="{{ cancel }}" class="btn btn-default"><i class="fa fa-times"></i> {{ button_cancel }}</a></div>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-mpgallery" class="form-horizontal">
          {% if error_warning %}
          <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} <button type="button" class="close" data-dismiss="alert">&times;</button></div>
          {% endif %}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_title }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
              <div class="input-group">
                <span class="input-group-addon"><img src="{{ language.lang_flag }}" title="{{ language.name }}" /></span>
                <input type="text" name="gall_description[{{ language.language_id }}][title]" value="{{ gall_description[language.language_id] ? gall_description[language.language_id].title : '' }}" placeholder="{{ entry_title }}" class="form-control" />
              </div>
              {%  if error_title[language.language_id] %}
              <div class="text-danger">{{ error_title[language.language_id] }}</div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-gallery"><span data-toggle="tooltip" title="{{ help_gallery }}">{{ entry_gallery }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="mpgallery_name" value="" placeholder="{{ entry_gallery }}" id="input-gallery" class="form-control" />
              <div id="gallery-gallery" class="well well-sm" style="height: 150px; overflow: auto;">
                {% for gallery in galleries %}
                <div id="gallery-gallery{{ gallery.mpgallery_id }}"><i class="fa fa-minus-circle"></i> {{ gallery.title }}
                  <input type="hidden" name="gallery[]" value="{{ gallery.mpgallery_id }}" />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
            <div class="col-sm-10">
              <input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
            <div class="col-sm-10">
              <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
              {% if error_width %}
              <div class="text-danger">{{ error_width }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
            <div class="col-sm-10">
              <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
              {% if error_height %}
              <div class="text-danger">{{ error_height }}</div>
              {% endif %}
            </div>
          </div>          
          <div class="form-group mp-buttons">
            <label class="col-sm-2 control-label">{{ entry_carousel }}</label>
            <div class="col-sm-3">
              <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-primary {% if carousel %}active{% endif %}"><input type="radio" name="carousel" value="1" {% if carousel %}checked="checked"{% endif %} /> {{ text_yes }}</label>
                <label class="btn btn-primary {% if not carousel %}active{% endif %}"><input type="radio" name="carousel" value="0" {% if not carousel %}checked="checked"{% endif %} /> {{ text_no }}</label>
              </div>
            </div>
          </div>
          <div class="form-group mp-buttons">
            <label class="col-sm-2 control-label">{{ entry_extitle }}</label>
            <div class="col-sm-3">
              <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-primary {% if extitle %}active{% endif %}"><input type="radio" name="extitle" value="1" {% if extitle %}checked="checked"{% endif %} /> {{ text_yes }}</label>
                <label class="btn btn-primary {% if not extitle %}active{% endif %}"><input type="radio" name="extitle" value="0" {% if not extitle %}checked="checked"{% endif %} /> {{ text_no }}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('input[name=\'mpgallery_name\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route={{ extension_path }}mpphotogallery/mpgallery/autocomplete&{{ get_token }}={{ token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['title'],
						value: item['mpgallery_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'mpgallery_name\']').val('');
		
		$('#gallery-gallery' + item['value']).remove();
		
		$('#gallery-gallery').append('<div id="gallery-gallery' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="gallery[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('#gallery-gallery').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script></div>
{{ footer }}
